@use "./colors.scss";

.mainview {
    flex: 1;
    padding: 16px;
    font-family: "Prompt", sans-serif;
    display: flex;
    flex-direction: column;
    

    .mt-1 {
        margin-top: 8px;
    }
    
    .mt-2 {
        margin-top: 16px;
    }
    

    .row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex:1;

        .bg-frost {
            -webkit-backdrop-filter: blur(16px);  /* Safari 9+ */
            backdrop-filter: blur(16px); /* Chrome and Opera */
            box-shadow: inset 0 0 0 200px rgba(53, 12, 37, 0.253);
        }

        .col {
            flex: 1;
            height: 100%;
            margin: 0px 8px;

            .row-title {
                font-size: 20px;
                font-weight: 500;
            }
            .search-box {
                border-radius: 16px;
                height: 40px;
                width: 220px;
                padding: 8px 16px;
                display: flex;
                background-color: #080911;
                color: #525259;
                float: right;
                span {
                    margin-left: auto;
                }
            }
            
            .calendar-container {
                width: 100%;
                height: 100%;
                border-radius: 30px;
                background-color: #080911;

                .calendar { 
                    width: 100%;
                    height: 100%;
                    margin-bottom: 8px;
                    display: flex;
                    align-items: center;

                    .date  {
                        align-self: center;
                        text-align: center;

                        .day {
                            font-size: 40px;
                            line-height: 1;
                        }
                        .month {
                            font-size: 16px;
                            color: colors.$c-primary;
                            
                        }
                    }
                    
                    .event-btn {
                        width: 40px;
                        height: 40px;
                        border-radius: 99px;
                        background-color: #422d39;
                        margin: 0 24px;
                        color:colors.$c-primary;
                        font-size: 32px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                    }

                    .event-btn:hover {
                        background-color: #684559;
                    }

                    .event-container {
                        flex:1;
                        height: 100%;
                        position: relative;
                        display: flex;
                        justify-content: space-around;

                        .event {
                            height: 100%;
                            display:flex;
                            flex-direction: column;
                            position: relative;

                            .event-title {
                                font-size: 14px;
                            }

                            .detail {
                                font-size: 10px;
                                color: #d1d4d8;
                            }

                            .point {
                                width: 12px;
                                height: 12px;
                                background-color: colors.$c-primary;
                                border-radius: 99px;
                                position: absolute;
                                top:50%;
                                bottom: 50%;
                                transform: translate(0, -50%);
                            }
                            .schedule {
                                margin-top: auto;
                                color:#525259;
                                font-size: 10px;
                            }
                        }

                        .event-line {
                            position: absolute;
                            top:50%;
                            bottom: 50%;
                            width: 100%;
                            height: 1px;
                            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='white' stroke-width='2' stroke-dasharray='2%2c10 ' stroke-dashoffset='7' stroke-linecap='square'/%3e%3c/svg%3e");
                            border-radius: 5px;
                        }
                    }
                }


            }
    
            .widget {
                display: flex;
                margin: auto;
                height: 100%;

                .clock {
                    flex:1;
                    margin: auto;
                    margin-right: 8px;

                    white-space: nowrap;

                    h1 {
                        font-weight: 400;
                        font-size: 72px;
                        line-height: 1;
                        margin: 0;
                    }
                }
                .weather {
                    flex:0;
                    margin-top: auto;
                    margin-bottom: auto;
                    justify-content: end;

                    div {
                        display: flex;
                        align-items: center;

                        p {
                            margin-left: 16px;
                            font-size: 14px;
                            line-height: 0.2;
                            color: #aeaeb9;
                            white-space: nowrap;
                        }
                    }
                }
            }

            .music-control {
                display: flex;
                font-size: 20px;
                margin-top: 16px;
                justify-content: space-between;
                 
                span {
                    cursor: pointer;
                }

                .other {
                    color: #525259;
                }
                .track {
                    color: colors.$c-white;
                }
                .play  {
                    color: colors.$c-primary;
                }

                .other:hover {
                    color: #aeaeb3;
                }
                .track:hover {
                    filter: drop-shadow(0px 0px 4px colors.$c-white);
                }
                .play:hover  {
                    filter: drop-shadow(0px 0px 4px colors.$c-primary);
                }
            }

            .music-progress {
                flex:1;
                display: flex;
                margin-top: 20px;
                span {
                    font-size: 12px;
                    color:#525259
                }
                .bar {
                    height: 2px;
                    background-color: #565669;
                    width: 100%;
                    position: relative;
                    margin:auto 32px;
                }
                .handle {
                    position: absolute;
                    left: 20px;
                    width: 8px;
                    height: 8px;
                    border-radius: 99px;
                    background-color: white;
                    top:-4px;
                }
            }

            .body {
                width: 100%;
                height: 100%;
                padding: 24px;
                display: flex;
                flex-direction: column;

                .playing-song {
                    margin-top: 12px;
                    display: flex;   
                    align-items: center;                 
                    
                    p {
                        margin: 0;
                        font-size: 14px;

                    }

                    .song-info {
                        margin-left: 8px;
                    }

                    .artist {
                        margin-left: auto;
                    }
                    .length {
                        margin-left: 16px;
                        margin-right: 16px;
                    }
                    .md {
                        font-size: 12px;
                        color: #525259;
                    }
                    .lg {
                        font-size: 14px;
                        color: colors.$c-white;
                    }
                    .c-primary {
                        color: colors.$c-primary;
                    }
                }

                .playlist-group {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin-bottom: 16px;
                    color: #525259;

                    p {
                       margin: 0;  
                       font-size: 14px;
                    }
                    .playlist-selected {
                        color: colors.$c-white;
                    }
                }

                .title {
                    font-size: 14px;
                    font-weight: 500;
                    color: #525259;

                }

                .album-cover {
                    margin-top: 16px;
                    flex:0;
                    height: 96px;
                    display: flex;
                    width: 100%;
                    justify-content: center;

                    .left {
                        margin: auto -10% auto 0;
                    }

                    .right {
                        margin: auto 0 auto -10%;
                    }

                    .small-img {
                        height: 60%;
                        width: 60%;
                        filter: brightness(60%);
                    }
                    .medium-img {
                        height: 80%;    
                        width: 80%;
                        filter: brightness(80%);
                    }
                    

                    img {
                        border-radius: 15px;
                        height: 100%;
                        flex: 0;
                        margin: 0;
                        box-shadow: 0 0 32px #080911;
                    }

                }

                .song-name {
                    margin-top: 32px;
                    font-size: 20px;
                    color: colors.$c-white;
                    text-align: center;
                }

                .artist-name {
                    margin-top: 2px;
                    font-size: 10px;
                    color: #525259;
                    text-align: center;
                }


                .info {
                    margin-top: 12px;
                    display: flex;
                    justify-content:space-between;

                    .left {
                        margin-right: auto;
                    }

                    .right {
                        margin-left: auto;
                    }


                    .data {
                        flex: 0 0 30%;
                        display: flex;
                        flex-direction: column;


                        .bar {
                            margin: auto;
                            width: 65%;
                        }

                        .value {
                            margin-top:16px;
                            font-size: 12px;
                            display: flex;
                            width: 100%;
                            height: 16px;
                            justify-content: center;
                            align-items: center;
                            

                            h5 {
                                flex: 0;
                                margin: 0;
                                font-size: 16px;
                                font-weight: 400;
                                margin-right: 4px;
                            }
                            p {
                                flex: 0 1 1;
                                font-size: 12px;
                                font-weight: 300;
                                opacity: 80%;
                            }
                        }
                        
                        .label {
                            margin-top: 4px;
                            font-size: 12px;
                            color:#3f3f44;
                            text-align: center;
                            white-space: nowrap;
                        }

                        .icon > * {
                            padding: 16px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    
                    
                }
                .chart {
                    width: 100%;

                    .chart-label {
                        font-size: 14px;
                        margin-top: 20px;
                        margin-bottom: 16px;
                    }
                }

                .summary {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 12px;

                    div {
                        width: 40%;
                    }


                    .value {
                        font-size: 12px;
                        display: flex;
                        width: 100%;
                        height: 16px;
                        align-items: center;

                        h5 {
                            flex: 0;
                            margin: 0;
                            font-size: 16px;
                            font-weight: 400;
                            margin-right: 4px;
                        }
                        p {
                            flex: 0 1 1;
                            font-size: 12px;
                            font-weight: 300;
                            opacity: 80%;
                        }
                    }

                    .label {
                        margin-top: 4px;
                        font-size: 12px;
                        color:#3f3f44;
                        text-align: center;
                        white-space: nowrap;
                    }
                }
            }
            

            .box {
                width: 100%;
                position: relative;
                padding-top: 100%;
                background-color: #080911;
                border-radius: 30px;
                overflow: hidden;
    
                .content {
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    position: absolute;

                    .content-container {
                        display: flex;
                        flex-direction: column;
                        overflow: hidden;

                        
                        .content-row {
                            position: relative;
                            display: flex;
                            flex: 1 0 50%;

                            .content-box {
                                width: 100%;
                                position: relative;
                                padding-top: 48%;
                                background-color: #080911;
                                border-radius: 30px;
                                overflow: hidden;
                            }

                            .left {
                                margin-right: 8px;
                            }
                            .right {
                                margin-left: 8px;
                            }
                        }

                        .content-row:nth-child(2) {
                            margin-top: 16px;
                        }
                        
                    }

                    

                }

                .content-overlay {
                    background: rgb(33,2,27);
                    background: linear-gradient(0deg, rgba(33,2,27,1) 0%, rgba(33,2,27,0) 100%);
                    display: flex;
                    width: 100%;
                    height: 100%;

                    .bottom-overlay {
                        margin-top: auto;
                        margin-left: auto;
                        padding: 24px;
                        display: flex;
                        align-items: center;

                        p {
                            line-height: 1;
                            font-size: 20px;
                            margin: 0;
                        }

                        .playlist-mark {
                            width: 10px;
                            height: 16px;
                            margin-right: 10px;
                            background-color: colors.$c-primary;
                        }
                    }
                }
                img {
                    width: 100%;
                    margin: auto;
                }
            }

            .bg-transparent {
                background-color: transparent;
            }

            .navigation-img {
                object-fit:cover;
                border-radius: 30px;
            }
        }


        .col-2 {
            flex: 2;
            height: 100%;
            margin: 0 8px;
        }

        .col-fluid {
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex:1;
            position: absolute;
            left: 0;
            right: 0;
            margin:0;
            padding: 0 24px;

            .music-control {
                margin: 0  20px  0 128px;
            }

            .box-48 {
                margin:0;
                width: 64px;
                height: 64px;
                min-width: 64px;
                min-height: 64px;
                border-radius: 15px;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }
        }

        .col-fluid > * {
            margin: 0 20px;
            flex:0;
        }

    }

    .row-min {
        flex:0;
    }

    .row:first-child {
        margin-left:0px;
    }
    .row:last-child{
        margin-right: 0px;
    }
}
.mainview :first-child {
    margin-top: 0;

}
